/**** Importation de la police "Roboto" ****/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/**** Variables css ****/

:root {
    --red: #ff5470;
    --yellow: #fde24f;
    --white: #fffffe;
    --blue: #668bf3;
    --black: #202020;
}

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    border: none;
    outline: none;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

/**** header, footer ****/

header,
footer {
    padding: 20px;
}

/**** header ****/

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section game, section status ****/

.game,
.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** section game ****/

.game__rules {
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 40px;
    width: 50%;
}

.game__area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid var(--black);
    border-radius: 8px;
    gap: 12px;
    padding: 10px;
    width: 630px;
    background-color: var(--blue);
}

.game__area div {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.player__one {
    background-color: var(--yellow);
}

.player__two {
    background-color: var(--red);
}

/**** section status ****/

#restart {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#restart:hover {
    background-color: var(--black);
}

/**** footer ****/

.footer__copyright {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}