/**** Import of "Roboto" police ****/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/**** Variables css ****/

:root {
    --red: #ff5470;
    --yellow: #fde24f;
    --white: #fffffe;
    --blue: #668bf3;
    --black: #202020;
}

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    border: none;
    outline: none;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

/**** header, footer ****/

header,
footer {
    padding: 20px;
}

/**** header ****/

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section game, section status ****/

.game,
.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

/**** section game ****/

.game__rules {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 40px;
    width: 500px;
    margin: 20px auto;
}

/**** table ****/

.board {
    background-color: var(--blue);
    border-radius: 8px;
    margin: 15px;
}

.board td {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: var(--white);
    border: 2px solid var(--black);
}

/**** pieces are div within game table cells: draw as colored circles ****/

.piece {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/**** Make pieces yellow/red,  depending on player 1/2 piece ****/

.p1 {
    background-color: var(--yellow);
}

.p2 {
    background-color: var(--red);
}

/**** column-top is table row of clickable areas for each column ****/

#column-top td {
    border: 2px dashed var(--black);
    cursor: pointer;
}

#column-top td:hover {
    background-color: #eff0f3;
}

/**** section status ****/
.status {
    display: none;
}

.replay {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.replay:hover {
    background-color: var(--black);
}

/**** footer ****/

.footer__copyright {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}

/**** Responsive design version mobile (572px) ****/